@import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Serif:400,400italic);

html { font-size: 20px; }

.matchup {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.matchup__home-team--wrapper,
.matchup__visitor-team--wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.matchup__home-team--inner,
.matchup__visitor-team--inner {
  z-index: 1;
}

.matchup__home-team-logo,
.matchup__visitor-team-logo {
  position: absolute;
  bottom: -33%;
  opacity: 0.06;
}

.matchup__visitor-team-logo {
  /* right: -33%; */
  left: -33%;
}

.matchup__home-team-logo {
  /* left: -33%; */
  right: -33%;
}

.matchup__home-team--inner {
  margin-left: auto;
}

.matchup__home-team--wrapper,
.matchup__visitor-team--wrapper {
  position: relative;
  overflow: hidden;
}

.matchup__visitor-team--wrapper {
  padding-left: 2.5rem;
}

.matchup__home-team--wrapper {
  padding-right: 2.5rem;
  text-align: right;
}

.matchup__home-team-city-name,
.matchup__visitor-team-city-name,
.matchup__home-team-team-name,
.matchup__visitor-team-team-name {
  display: block;
}

.matchup__home-team-city-name,
.matchup__visitor-team-city-name {
  font-family: "Droid Serif";
  font-size: 1.25rem;
  /* font-style: italic; */
}

.matchup__home-team-team-name,
.matchup__visitor-team-team-name {
  font-family: Oswald;
  font-size: 5rem;
  margin: 0 0 1rem -0.25rem;
  /* text-transform: uppercase; */
}

.matchup__home-team--wrapper table {
  float: right;
}

.matchup__stats-table td {
  box-sizing: border-box;
  color: #fff;
  font-family: Oswald;
  font-size: 0.8rem;
  padding: 0 1.5rem 0 0.5rem;
  text-align: left;
}

.matchup__stats-table thead td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-bottom: 0.5rem;
}

.matchup__stats-table tbody td {
  border-right-style: solid;
  border-right-width: 1px;
  padding-top: 0.5rem;
}

.matchup__stats-table td:last-child {
  border-right: none;
  padding-right: 0;
}

.matchup__stats-table td:first-child {
  padding-left: 0;
}

.matchup__meta {
  color: #eee;
  font-family: Oswald;
  height: 100vh;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}

.matchup__at-sign {
  font-size: 3rem;
  left: 50%;
  margin-bottom: 1rem;
  opacity: 0.33;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.matchup__game-time-score {
  align-items: center;
  /* background: rgba(255,255,255,0.3); */
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
  color: #444;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.matchup__game-time-score {
  bottom: 2.5rem;
  font-size: 0.75rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
}

.matchup__game-time {
  color: #777;
  font-size: 1rem;
  margin-top: 0.5rem;
  min-width: 5rem;
}

.matchup__meta [class$="team-score"] {
  font-size: 2rem;
}

.matchup__meta .matchup__home-team-score { }

.matchup__meta .matchup__visitor-team-score { }
