@import url(https://fonts.googleapis.com/css?family=Oswald|Droid+Serif:400italic);

html { font-size: 20px; }

.matchup {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.matchup__home-team--wrapper,
.matchup__visitor-team--wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.matchup__visitor-team--inner {
  margin-left: auto;
}

.matchup__home-team--wrapper {
  padding-left: 2.5rem;
}

.matchup__visitor-team--wrapper {
  padding-right: 2.5rem;
  text-align: right;
}

.matchup__home-team-city-name,
.matchup__visitor-team-city-name,
.matchup__home-team-team-name,
.matchup__visitor-team-team-name {
  display: block;
}

.matchup__home-team-city-name,
.matchup__visitor-team-city-name {
  font-family: "Droid Serif";
  font-size: 0.9rem;
  font-style: italic;
}

.matchup__home-team-team-name,
.matchup__visitor-team-team-name {
  font-family: Oswald;
  font-size: 5rem;
  margin: 0 0 1rem -0.25rem;
  text-transform: uppercase;
}

.matchup__visitor-team--wrapper table {
  float: right;
}

.matchup__stats-table td {
  box-sizing: border-box;
  color: #fff;
  font-family: Oswald;
  font-size: 0.8rem;
  padding: 0 1.5rem 0 0.5rem;
  text-align: left;
}

.matchup__stats-table thead td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-bottom: 0.5rem;
}

.matchup__stats-table tbody td {
  border-right-style: solid;
  border-right-width: 1px;
  padding-top: 0.5rem;
}

.matchup__stats-table td:last-child {
  border-right: none;
  padding-right: 0;
}

.matchup__stats-table td:first-child {
  padding-left: 0;
}

.matchup__meta {
  color: #fff;
  font-family: Oswald;
  height: 100vh;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.matchup__at-sign {
  font-size: 3rem;
  left: 50%;
  margin-bottom: 1rem;
  opacity: 0.33;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.matchup__game-start,
.matchup__game-start-time {
  display: block;
}

.matchup__game-start {
  bottom: 2.5rem;
  font-size: 0.75rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
  width: 6rem;
}

.matchup__game-start-time {
  font-size: 1rem;
  margin-top: 0.5rem;
}
