/* Most colors taken from http://teamcolorcodes.com/category/nba-team-color-codes/ */

/* Atlanta Hawks colors
 * #E03A3E
 * #C3D600
 * white
 * black
*/

.hawks {
  background: #E03A3E;
  color: #C3D600;
}

.hawks .matchup__stats-table thead td,
.hawks .matchup__stats-table tbody td {
  border-color: #C3D600;
  color: white;
}

.hawks [class$='team-city-name'] {
  color: white;
}

/* Boston Celtics colors
 * #008348 (green)
 * black
 * white
 * #FFD700 (yellow)
 * #C0C0C0 (gray)
*/

.celtics {
  background: #008348;
  color: #fff;
}

.celtics .matchup__stats-table thead td,
.celtics .matchup__stats-table tbody td {
  border-color: #FFD700;
  color: white;
}

.celtics [class$='team-city-name'] {
  color: #FFD700;
}
/* Brooklyn Nets colors
 * black
 * white
*/

.nets {
  background: #000;
  color: #fff;
}

.nets .matchup__stats-table thead td,
.nets .matchup__stats-table tbody td {
  border-color: #fff;
  color: inherit;
}

.nets [class$='team-city-name'] {
  color: inherit;
}

/* Charlotte Hornets colors
 * #1D1160
 * #008CA8
 * white
 * #A1A1A4
*/

.hornets {
  background: #1D1160;
  color: #008CA8;
}

.hornets .matchup__stats-table thead td,
.hornets .matchup__stats-table tbody td {
  border-color: #008CA8;
  color: white;
}

.hornets [class$='team-city-name'] {
  color: white;
}

/* Chicago Bulls colors
 * #CE1141 or #b00203
 * white
 * black
*/

.bulls {
  /* background: #CE1141; */
  background: #b00203;
  color: #fff;
}

.bulls .matchup__stats-table thead td,
.bulls .matchup__stats-table tbody td {
  border-color: #fff;
  color: black;
}

.bulls [class$='team-city-name'] {
  color: black;
}

/* Cleveland Cavaliers colors
 * #860038 (dark red)
 * #FDBB30 (yellow)
 * #002D62 (dark blue)
 * white
*/

.cavaliers {
  background: #860038;
  color: #FDBB30;
}

.cavaliers .matchup__stats-table thead td,
.cavaliers .matchup__stats-table tbody td {
  border-color: #FDBB30;
  color: white;
}

.cavaliers [class$='team-city-name'] {
  color: #002D62;
}

/* Dallas Maverikcs colors
 * #007DC5
 * #C4CED3
 * #20385B
 * black
 * white
*/

.mavericks {
  background: #007DC5;
  color: #C4CED3;
}

.mavericks .matchup__stats-table thead td,
.mavericks .matchup__stats-table tbody td {
  border-color: #C4CED3;
  color: #20385B;
}

.mavericks [class$='team-city-name'] {
  color: #20385B;
}

/* Denver Nuggets colors
 * #4FA8FF
 * #FFB20F
 * #004770
 * white
*/

.nuggets {
  background: #4FA8FF;
  color: #FFB20F;
}

.nuggets .matchup__stats-table thead td,
.nuggets .matchup__stats-table tbody td {
  border-color: #FFB20F;
  color: #004770;
}

.nuggets [class$='team-city-name'] {
  color: #004770;
}

/* Detroit Pistons colors
 * #006BB6
 * #ED174C
 * #001F70
 * white
*/

.pistons {
  background: #006BB6;
  color: #ED174C;
}

.pistons .matchup__stats-table thead td,
.pistons .matchup__stats-table tbody td {
  border-color: #001F70;
  color: white;
}

.pistons [class$='team-city-name'] {
  color: #001F70;
}

/* Golden State Warriors colors
 * #006BB6
 * #FDB927
*/

.warriors {
  background: #006BB6;
  color: #FDB927;
}

.warriors .matchup__stats-table thead td,
.warriors .matchup__stats-table tbody td {
  border-color: #FDB927;
  color: inherit;
}

.warriors [class$='team-city-name'] {
  color: inherit;
}

.warriors [class$='team-logo'] {
  opacity: 0.15;
}

/* Houston Rockets colors
 * #CD212B (red)
 * #C4CED3 (gray)
 * #FDB927 (yellow)
 * white
 * black
*/

.rockets {
  background: #CD212B;
  color: white;
}

.rockets .matchup__stats-table thead td,
.rockets .matchup__stats-table tbody td {
  border-color: #C4CED3;
  color: black;
}

.rockets [class$='team-city-name'] {
  color: #C4CED3;
}

.rockets [class$='team-logo'] {
  opacity: 0.2;
}

/* Indiana Pacers colors
 * #00275D
 * #FFC633
 * #BEC0C2
 * white
*/

.pacers {
  background: #00275D;
  color: #FFC633;
}

.pacers .matchup__stats-table thead td,
.pacers .matchup__stats-table tbody td {
  border-color: #FFC633;
  color: #BEC0C2;
}

.pacers [class$='team-city-name'] {
  color: #BEC0C2;
}

/* Los Angeles Clippers colors
 * #ED174C
 * #006BB6
 * #BEC0C2
 * white
 * #00285D
*/

.clippers {
  background: white;
  color: #ED174C;
}

.clippers .matchup__stats-table thead td,
.clippers .matchup__stats-table tbody td {
  border-color: #ED174C;
  color: #006BB6;
}

.clippers [class$='team-city-name'] {
  color: #006BB6;
}

/* Los Angeles Lakers colors
 * #552582
 * #FDB927
 * white
*/

.lakers {
  background: #552582;
  color: #FDB927;
}

.lakers .matchup__stats-table thead td,
.lakers .matchup__stats-table tbody td {
  border-color: #FDB927;
  color: inherit;
}

.lakers [class$='team-city-name'] {
  color: inherit;
}

/* Memphis Grizzlies colors
 * #23375B
 * #6189B9
 * #BBD1E4
 * quarternay: #FFD432
*/

.grizzlies {
  background: #23375B;
  color: #6189B9;
}

.grizzlies .matchup__stats-table thead td,
.grizzlies .matchup__stats-table tbody td {
  border-color: #6189B9;
  color: #BBD1E4;
}

.grizzlies [class$='team-city-name'] {
  color: #BBD1E4;
}

/* Miami Heat colors
 * #98002E
 * #F9A01B
 * white
 * quarternay: black
*/

.heat {
  background: #98002E;
  color: white;
}

.heat .matchup__stats-table thead td,
.heat .matchup__stats-table tbody td {
  border-color: white;
  color: black;
}

.heat [class$='team-city-name'] {
  color: black;
}

/* Milwaukee Bucks colors
 * #00471B
 * #EEE1C6
 * #0077C0
 * quarternay: white
 * black
*/

.bucks {
  background: #00471B;
  color: #EEE1C6;
}

.bucks .matchup__stats-table thead td,
.bucks .matchup__stats-table tbody td {
  border-color: #EEE1C6;
  color: white;
}

.bucks [class$='team-city-name'] {
  color: white;
}

/* Minnesota Timberwolves colors
 * #005083
 * #C4CED3
 * #00A94F
 * quarternay: white
 * black
*/

.timberwolves {
  background: #005083;
  color: #C4CED3;
}

.timberwolves .matchup__stats-table thead td,
.timberwolves .matchup__stats-table tbody td {
  border-color: #C4CED3;
  color: #00A94F;
}

.timberwolves [class$='team-city-name'] {
  color: #00A94F;
}

/* New Orleans Pelicans colors
 * #002B5C
 * #B4975A
 * #E31937
 * quarternay: white
*/

.pelicans {
  background: #002B5C;
  color: #B4975A;
}

.pelicans .matchup__stats-table thead td,
.pelicans .matchup__stats-table tbody td {
  border-color: #B4975A;
  color: #E31937;
}

.pelicans [class$='team-city-name'] {
  color: #E31937;
}

/* New York Knicks colors
 * #006BB6
 * #F58426
 * white
 * #BEC0C2
*/

.knicks {
  background: #006BB6;
  color: #F58426;
}

.knicks .matchup__stats-table thead td,
.knicks .matchup__stats-table tbody td {
  border-color: #F58426;
  color: white;
}

.knicks [class$='team-city-name'] {
  color: white;
}

.knicks [class$='team-logo'] {
  opacity: 0.2;
}

/* Oklahoma City Thunder colors
 * #007DC3 (blue)
 * #F05133 (orange)
 * #FDBB30 (yellow)
 * #002D62 (dark blue)
*/

.thunder {
  background: #007DC3;
  color: white;
}

.thunder .matchup__stats-table thead td,
.thunder .matchup__stats-table tbody td {
  border-color: #002D62;
  color: #FDBB30;
}

.thunder [class$='team-city-name'] {
  color: #F05133;
}

/* Orlando Magic colors
 * #007DC5
 * #C4CED3
 * white
 * black
*/

.magic {
  background: #007DC5;
  color: #C4CED3;
}

.magic .matchup__stats-table thead td,
.magic .matchup__stats-table tbody td {
  border-color: #C4CED3;
  color: white;
}

.magic [class$='team-city-name'] {
  color: white;
}

/* Philadelphia 76ers colors
 * #006BB6
 * #ED174C
 * white
*/

.sixers {
  background: #006BB6;
  color: #ED174C;
}

.sixers .matchup__stats-table thead td,
.sixers .matchup__stats-table tbody td {
  border-color: #ED174C;
  color: white;
}

.sixers [class$='team-city-name'] {
  color: white;
}

/* Phoenix Suns colors
 * #E56020
 * #1D1160
 * #63717A
 * white
 * black
*/

.suns {
  background: #E56020;
  color: white;
}

.suns .matchup__stats-table thead td,
.suns .matchup__stats-table tbody td {
  border-color: white;
  color: #1D1160;
}

.suns [class$='team-city-name'] {
  color: #1D1160;
}

/* Portland Trailblazers colors
 * #F0163A
 * #B6BFBF
 * white
 * black
*/

.trailblazers {
  /* background: #F0163A; */
  background: black;
  /* color: #B6BFBF; */
  /* color: #F0163A; */
  color: #CC0000;
}

.trailblazers .matchup__stats-table thead td,
.trailblazers .matchup__stats-table tbody td {
  /* border-color: #B6BFBF; */
  /* border-color: #F0163A; */
  border-color: #CC0000;
  /* color: #F0163A; */
  color: #B6BFBF;
}

.trailblazers [class$='team-city-name'] {
  /* color: #F0163A; */
  color: #B6BFBF;
}

.trailblazers [class$='team-logo'] {
  opacity: 0.125;
}

/* Sacramento Kings colors
 * #724C9F
 * #8E9090
 * white
 * black
*/

.kings {
  background: #724C9F;
  color: #fff;
}

.kings .matchup__stats-table thead td,
.kings .matchup__stats-table tbody td {
  border-color: #8E9090;
  color: white;
}

.kings [class$='team-city-name'] {
  color: white;
}

/* San Antonio Spurs colors
 * #B6BFBF
 * white
 * black
*/

.spurs {
  background: #B6BFBF;
  color: #000;
}

.spurs .matchup__stats-table thead td,
.spurs .matchup__stats-table tbody td {
  border-color: #000;
  color: white;
}

.spurs [class$='team-city-name'] {
  color: white;
}

/* Toronto Raptors colors
 * #CE1141
 * #C4CED3
 * white
 * black
*/

.raptors {
  background: #CE1141;
  color: #C4CED3;
}

.raptors .matchup__stats-table thead td,
.raptors .matchup__stats-table tbody td {
  border-color: #C4CED3;
  color: black;
}

.raptors [class$='team-city-name'] {
  color: black;
}

/* Utah Jazz colors
 * #002B5C
 * #F9A01B
 * #00471B
 * #BEC0C2
*/

.jazz {
  background: #002B5C;
  color: #F9A01B;
}

.jazz .matchup__stats-table thead td,
.jazz .matchup__stats-table tbody td {
  border-color: #00471B;
  color: #F9A01B;
}

.jazz [class$='team-city-name'] {
  color: white;
}

/* Washington Wizards colors
 * #002566
 * #cf142b
 * #C2CCCC
 * white
*/

.wizards {
  background: #002B5C;
  color: #cf142b;
}

.wizards .matchup__stats-table thead td,
.wizards .matchup__stats-table tbody td {
  border-color: #cf142b;
  color: white;
}

.wizards [class$='team-city-name'] {
  color: white;
}
